*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.main{
  background-color: #f8f9fa;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;


}
.centre{
  background-color: aliceblue;
  height: 60%;
  width: 80%;
  display: flex;
  
  justify-content: center;
  align-items: center;

}
li{
  list-style-type: none;
}

.main-div{
  height: 100vh;
  width: 100vw;
  display: flex;
  
}
.home{
  height: 92.5vh;
  width: 100vw;
  background : linear-gradient(to right,
   #e0e8f5 0%,
   #e2ecff  50%,
   #F1F9F9 50%,
   #F1F9F9 100%
  );
}

.home-div{
  backdrop-filter: blur(5px);
}